**/logs
**/img
**/__pycache__
**/.mypy_cache
**/.venv
**/saved_model
**/checkpoint
**/frozen_inference_graph.pb
**/graph.pbtxt
**/highScore.txt
**/highScorename.txt
**/model.ckpt.data-00000-of-00001
**/model.ckpt.index
**/model.ckpt.meta
**/pipeline.config
**/data
**/players
**/*players*
**/players/*
**/players/**
**/frames/**
**/frame/**
**/outFrames/**
**/outFramesStep2/**
frames
frame
outFrames
outFramesStep2
**/log.txt
**/*cache*